@charset "utf-8";
/* CSS Document */
* { 
margin:0;
padding:0;
}
a {
color:BLACK;
font-size:16px;
}
body {
background:white;
font-family:verdana;
text-align:center;
}
h1 {
color:black;
font-size:24px;
}
p {
font-size:16px;
}
ul {
list-style-type:none;
}
#cabecera {
color:black;
background-color:green;
padding:10px;
}
#contenedor {
margin:0 auto;
width:800px;
}
#contenido {
background-color:white;
float:left;
height:500px;
padding:10px;
width:560px;
}

#pie { 
background-color:green;
clear:both;
color:white;
padding:10px;
text-align:left;
}