@charset "utf-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: fixed;
}
nav{
    top: -30px;
    position: absolute;
    left: auto;
    right: auto;
    margin: 20px auto;
    max-width: 500px;
    width: 90%;
    position: fixed;
}
nav ul{
    list-style: none;
    position: fixed;
}
nav > ul{
    display: table;
    width: 1000px;
    background: hotpink;
    position: auto; 
}
nav > ul li{
    display: table-cell;
}
/*sub menu con sus efectos*/
nav > ul > li:hover > ul{
    display: block;
    height: 100%;
}
nav > ul > li > ul{
    display: block;
    position: absolute;
    background: skyblue;
    left: auto;
    right: auto;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
nav > ul li a{
    color: #FFFFFF;
    display: block;
    line-height: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
/*efectos de los span*/
nav > ul > li > ul >li a:hover{
    background: #0C90F6;
}
nav > ul > li > a span{
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

*{
padding:0px;
margin:0px;
}
#navegacion{
margin:auto;
width:500px;
}
ul,ol{
list-style:none;
}

#Lista li a{
background:black;
color:white;
text-decoration:none;
padding:10px 15px;
display:block;
border-radius: 10px;
}

#Lista >li{
	float:left;
}
#Lista li a:hover{
	background: green;
}
#Lista li ul{
	display: none;
	position: absolute;
}

#Lista li:hover >ul{
	display: block;
}
<!-- esta parte es para una lista desplegable dentro d eotra lista desplegable-->
#Lista li ul li{
	position: relative;

}
#Lista  li ul li ul{
	right: -140px;
	top: 0px;
}
*{
padding:0px;
margin:0px;
}
ul,ol{
list-style:none;
}

#Lista li a{
background:orange;
color:white;
text-decoration:none;
padding:10px 15px;
display:block;
border-radius:10px;
}
#Lista>li{
float:top;
}
#Lista li a:hover{
background:skyblue;
}
#Lista li ul{
display:none;
position:absolute;
left:100px;
}
#Lista li:hover>ul{
display:block;
}
#Lista li ul li{
position:relative;
}
nn:hover{
background-color:yellow;
}
l:hover{
background-color:skyblue;
}
*{
margin:0px;
padding:0px;}
#c2{
background-color:yellow;
padding:2px;
}
#c1{
background-color:yellow;
padding:10px;
}
#cabecera1{
background-color:orange;
padding:10px;
}
#cabecera{
background-color:hotpink;
padding:30px;
}
#menu{
background-color:pink;
float:left;
height:1300px;
padding:10px;
width:200px;
text-align:left;
}

#contenido{
background-color:powderblue;
float:left;
height:1300px;
padding:10px;
width:700px;

}

#pie2{
background-color:hotpink;
clear:both;
padding:10px;
}

#galeria{
	border: 1px solid #EAEAEA;
	padding: 20px;
	padding-bottom: 0;
	background: #0099CC;
	width: auto;
	margin: auto;
	position: top;
}
#imgMostrar{
	width: 200px;
	height:200px;


}

#galeria_miniaturas{
	display: table;
	margin: 0 auto;

}
.miniatura{
	width: 200px;
	height:200px;
	float:left;
	cursor: pointer;
	padding: 5px;
	margin: 10px 5px;
}